#resultado, form{
    align-items: center;
    display: flex;
    justify-content: center;
}

#resultado{
    max-width: auto;
    max-height: auto;
    margin-top: 30px;
    flex-wrap: wrap;
}

.classe-1 {
    color: #FFFFFF;
    background: #333333;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
    background: #333333;
    margin-left: 30px;
    font-size: 50px;
    padding: 10px;
}

.classe-2 {
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background: #232323;
    margin-left: 30px;
    font-size: 30px;
    padding: 10px;
}

.classe-3 {
    color: #A7DD3C;
    background: #FFFFFF;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77,66,0,0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64,77,0,0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38,77,0,0.5);
    color: #A7DD3C;
    background: black;
    margin-left: 30px;
    font-size: 45px;
    padding: 10px;
}

.classe-4 {
    color: #FFFFFF;
    background: #912C22;
    text-shadow: 0 0 10px #FFFFFF;
    color: #FFFFFF;
    background: #912C22;
    margin-left: 30px;
    font-size: 70px;
    padding: 10px;
}

.classe-5{
    color: #FFFFFF;
    background: #333333;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: #FFFFFF;
    background: #333333;
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
}

.classe-6 {
    color: #FFFFFF;
    background: #996D6D;
    text-shadow: #474747 3px 5px 2px;
    color: #FFFFFF;
    background: #996D6D;
    margin-left: 30px;
    font-size: 15px;
    padding: 10px;
}