h1{
    text-align: center;
    margin-top: 5%;
    color: #10abff;
    font-size: 50px;
    font-weight: bold;
}
#input{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10%;
}  
#typeText{
    font-size: 1.5em;
    padding: 3px;
    box-shadow: inset 0 0 0 2px #fff, 0 0 0 2px #fff, 2px -2px 10px #1beabd, -2px 2px 10px #10abff;
    border-radius: 50px;
    width: 900px;
    height: 40px;
}
#btn{
    margin-left: 50px;
    border-radius: 50px;
    height: 55px;
    width: 150px;
    font-size: 20px;
    color: white;
    background: linear-gradient(21deg, #10abff, #1beabd);
}
::placeholder {
	color:#cbd0d5;
}