#main-table-body{
    border-spacing: 2px;
}
.collum{
    width: 150px;
    height: 100px;
    margin: 5px 5px 5px 5px;
}
#main-title {
    background-color: #DF2935;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}
#main-title span{
    background-color: #FEFEFE;
    border-radius: 50px;
    padding: 2px;
    font-size: 60px;
}
#count-words{
    background-color: #FEFEFE;
    border-radius: 50px;
    padding: 2px;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 45%;
}
#main-input{
    font-size: 25px;
    padding: 2px;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px; 
}
#button{
    font-size: 15px;
    display: inline-block;
    padding: 2px;
    width: 150px; 
    height: 50px;
}
#div{
    display: flex;
    justify-content: center; 
}