body {
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}
div {
    cursor: default;
}

.active,.active-hover {
    outline: 2px solid white;
}

.container {
    position: absolute;
    margin-top: 5px;
    margin-bottom: 35px;
    left: 50%;
    top: 50%;
    width: 65%;
    height: 100%;
    padding: 20px 35px;
    text-align: center;
    transform: translate(-50%,-50%);
    background-color:white;
    color: black;
    border: 2px double black;
    overflow: hidden;
}

.input-letter {
    width:70%;
    border: 1px solid black;
}