
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-output{
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content: center;
 }
 .divcartas{
    text-align: center;
 }
 p{
    padding: 20px;
    margin:0px;
 }