#user-input {
    width: 300px;
    text-align: center;
}

#mystery-letter {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mystery-letter {
    text-align: center;
    margin: 5px;
    padding: 15px;
}

.word-counter {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: brown;
    display: none;
}
